pandas==2.2.2
numpy==1.26.4
tqdm==4.66.4
scikit-learn==1.5.1
transformers==4.43.3
accelerate==0.33.0
torch          # pick CUDA/CPU build appropriate for your machine
bert-score==0.3.13
beautifulsoup4==4.12.3
jsonschema==4.23.0
regex==2024.7.24
detoxify==0.5.1
